{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'common.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
